@model RentPreviewModel

@{ ViewData["Title"] = "Preview"; }

<div class="container-fluid col-md-10 border-danger" style="margin-top: 4%">

    <h3><strong>Dear, @User.Identity.Name</strong></h3>
    <h2><strong>Your order preview:</strong></h2>
    <hr />
    <div class="mx-auto">
        <div class="receipt-id-handler d-flex justify-content-between">
            <h3>Car Model:</h3>
            <h3>@Model.Model</h3>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
            <h4>Rents Company:</h4>
            <h4>@Model.CompanyName</h4>
        </div>
        <div class="d-flex justify-content-between">
            <h4>Rent start:</h4>
            <h4>@Model.RentStart</h4>
        </div>
        <div class="d-flex justify-content-between">
            <h4>Rent end:</h4>
            <h4>@Model.RentEnd</h4>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
            <h4>Price per day:</h4>
            <h4>$@Model.PricePerDay</h4>
        </div>

        <div class="d-flex justify-content-between">
            <h4>Price for @Model.Days days:</h4>
            <h4>$@Model.TotalPrice</h4>
        </div>

        <div class="d-flex justify-content-between">
            <h4>Total Price:</h4>
            <h4>$@Model.TotalPrice.ToString("F2")</h4>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
            <h4>You can pick up your car from <strong>@Model.PickUpPlace</strong>, and return it to <strong>@Model.ReturnPlace</strong>, until the end of <strong>@Model.RentEnd</strong>.</h4>
        </div>
        <hr />
    </div>
    <hr />
</div>

<center>
    <div class="d-flex justify-content-around">
        <form asp-controller="Cars" asp-action="Available" method="post">
            <input type="hidden" value="@Model.ReturnPlace" name="ReturnPlace" />
            <input type="hidden" value="@Model.PickUpPlace" name="PickupPlace" />
            <input type="hidden" value="@Model.RentStart" name="Pickup" />
            <input type="hidden" value="@Model.RentEnd" name="Return" />
            <button type="submit" class="btn btn-danger">Cancel</button>
        </form>
        <form asp-controller="Rentals" asp-action="Order" method="post">
            <input type="hidden" value="@Model.ReturnPlace" name="ReturnLocation" />
            <input type="hidden" value="@Model.PickUpPlace" name="StartLocation" />
            <input type="hidden" value="@Model.RentStart" name="StartDate" />
            <input type="hidden" value="@Model.RentEnd" name="EndDate" />
            <input type="hidden" value="@Model.CarId" name="CarId" />
            <input type="hidden" value="@Model.CompanyId" name="CompanyId" />
            <input type="hidden" value="@Model.CompanyName" name="CompanyName" />
            <input type="hidden" value="@Model.TotalPrice" name="Price" />
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    </div>
</center>