@model CarDetailsFormModel

<div class="container">
    <script src="/js/notify.js"></script>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="car-details">
                <div class="text text-center">
                    @if (string.IsNullOrWhiteSpace(Model.Url))
                    {
                        <img src="@Model.Url" class="img-fluid rounded" />
                    }
                    <div class="carousel-inner">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            @for (int i = 0; i < Model.Urls.Count; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : string.Empty)" style="width:100%; height: 550px !important;">
                                    <img src="@Model.Urls[i]" class="img-fluid rounded" alt="Responsive image">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <span class="subheading">@Model.BrandName</span>
                    <h2>@Model.ModelName</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex mb-3 align-items-center">
                <div class="media block-6 services">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
                    <div class="text">
                        <h3>Car Model Year</h3>
                        <span>@Model.ModelYear</span>
                    </div>
                </div>
            </div>

            <div class="d-flex mb-3 align-items-center">
                <div class="media block-6 services">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
                    <div class="text">
                        <h3>Transmission</h3>
                        <span>@Model.TransmissionName</span>
                    </div>
                </div>
            </div>

            <div class="d-flex mb-3 align-items-center">
                <div class="media block-6 services">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
                    <div class="text">
                        <h3>Seats</h3>
                        <span>@Model.SeatsCount Adults</span>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-3 align-items-center">
                <div class="media block-6 services">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
                    <div class="text">
                        <h3>Fuel</h3>
                        <span>@Model.FuelName</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 pills">
        <div class="bd-example bd-example-tabs">
            <div class="d-flex justify-content-center">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-features" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                           id="pills-company-tab" 
                           data-toggle="pill" 
                           href="#pills-company" 
                           role="tab" 
                           aria-controls="pills-manufacturer" 
                           aria-expanded="true">Posted by @Model.CompanyName</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-features" role="tabpanel" aria-labelledby="pills-features-tab">
                    <div class="row">
                        @foreach (var feature in Model.CarFeatures)
                        {
                            <div class="col-md-4">
                                <ul class="features">
                                    <li class="check"><span class="ion-ios-checkmark"></span>@feature.Name</li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                    <p>@Model.Description</p>
                </div>

                <div class="tab-pane fade" id="pills-company" role="tabpanel" aria-labelledby="pills-company-tab">
                    <p>@Model.CompanyDescription</p>
                    <p class="mb-0">You can check out @Model.CompanyName. 
                    <a asp-area="Company" asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyId">
                        Follow this link!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/signalr/dist/browser/signalr.min.js"></script>