@model CarDetailsFormModel
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="car-details">
                <div class="text text-center">
                    @if (string.IsNullOrWhiteSpace(Model.Url))
                    {
                        <img src="@Model.Url" class="img-fluid rounded" />
                    }
                    <div class="carousel-inner">
                        <div id="carouselExampleControls" class="carousel slide">
                            @for (int i = 0; i < Model.Urls.Count; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                                    <img src="@Model.Urls[i]" class="img-fluid rounded" alt="Responsive image">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <span class="subheading">@Model.BrandName</span>
                    <h2>@Model.ModelName</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex mb-3 align-items-center">
                <div class="media block-6 services">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
                    <div class="text">
                        <h3>Car Model Year</h3>
                        <span>@Model.ModelYear</span>
                    </div>
                </div>
            </div>

            <div class="d-flex mb-3 align-items-center">
                <div class="media block-6 services">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
                    <div class="text">
                        <h3>Transmission</h3>
                        <span>@Model.TransmissionName</span>
                    </div>
                </div>
            </div>

            <div class="d-flex mb-3 align-items-center">
                <div class="media block-6 services">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
                    <div class="text">
                        <h3>Seats</h3>
                        <span>@Model.SeatsCount Adults</span>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-3 align-items-center">
                <div class="media block-6 services">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
                    <div class="text">
                        <h3>Fuel</h3>
                        <span>@Model.FuelName</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 pills">
        <div class="bd-example bd-example-tabs">
            <div class="d-flex justify-content-center">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="features">
                                <li class="check"><span class="ion-ios-checkmark"></span>Airconditions</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Child Seat</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>GPS</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Luggage</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Music</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="features">
                                <li class="check"><span class="ion-ios-checkmark"></span>Seat Belt</li>
                                <li class="remove"><span class="ion-ios-close"></span>Sleeping Bed</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Water</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Bluetooth</li>
                                <li class="remove"><span class="ion-ios-close"></span>Onboard computer</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="features">
                                <li class="check"><span class="ion-ios-checkmark"></span>Audio input</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Long Term Trips</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Car Kit</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Remote central locking</li>
                                <li class="check"><span class="ion-ios-checkmark"></span>Climate control</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>