@model CarsSearchQueryModel

@{
    ViewData["Title"] = "My Cars";
    ViewBag.AllowCarEdit = true;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success" id="carMessage">@this.TempData["Message"]</div>
}

@if (!Model.Cars.Any())
{
    <h2 class="text-center">You do not have any cars yet. So why don't you add one?</h2>
    <p class="lead">
        <a asp-controller="Cars" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Car</a>
    </p>
}
else
{
    <form id="brand" method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label asp-for="Brand"></label>
                    <select asp-for="Brand" class="form-control" onchange="change()">
                        <option value="">All</option>
                        @foreach (var carBrand in Model.Brands)
                        {
                            <option value="@carBrand">@carBrand</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Enter your desired car model">
            </div>

            <div class="form-group col-md-4">
                <div class="form-group">
                    <label asp-for="CarSorting"></label>
                    <select asp-for="CarSorting" class="form-control" onchange="change()">
                        <option value="0" selected>Date Created</option>
                        <option value="1">Year</option>
                        <option value="2">Brand and Model</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        @foreach (var car in Model.Cars)
        {
            <div class="col-md-4">
                <div class="card-img-top img-fluid mb-3">
                    <img class="img-fluid img-thumbnail card-img-top" src="@car.Url" alt="Responsive image" style=" width:100%; height: 250px !important;">
                    <div class="card-body" style="width: 18rem;">
                        <h5 class="card-title">@car.ModelName (@car.ModelYear)</h5>
                        <a asp-controller="Cars"
                           asp-action="Details"
                           asp-route-id="@car.Id"
                           asp-route-information="@car.ToFriendlyUrl()"
                           class="btn btn-primary">Details</a>

                        @if (ViewBag.AllowCarEdit || User.IsAdmin())
                        {
                            <a asp-controller="Cars"
                               asp-action="Edit" asp-route-id="@car.Id"
                               asp-route-information="@car.ToFriendlyUrl()"
                               class="btn btn-warning">Edit</a>
                            <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id"
                               data-toggle="modal" data-target="#modalDelete" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalDeleteLabel">Confirm Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Do you confirm these changes?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts {
    <script type="text/javascript" language="javascript">
        function change() {
            document.getElementById("brand").submit();
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('#carMessage').hide(4000);
        });
    </script>

    <script type="text/javascript">
        $('modalDelete').modal('')
    </script>
}

<script src="/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="/js/notify.js"></script>