@model EditRentFormModel

@{ ViewData["Title"] = "Edit Rent"; }

<center>
    <h1 style="margin-top:2%">Edit Rent: @Model.Id</h1>
</center>
<hr class="border-primary" />
<div class="row col-md-12 justify-content-center">
    <div class="col-md-10">
        <form asp-area="Administration" asp-controller="Rentals" asp-action="Edit" method="post" enctype="multipart/form-data">
            <h3>Customer Info</h3>
            <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                    <label asp-for="ClientFirstName"></label>
                    <input asp-for="ClientFirstName" class="form-control" value="@Model.ClientFirstName" />
                    <span asp-validation-for="ClientFirstName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4 mb-3">
                    <label asp-for="ClientLastName"></label>
                    <input asp-for="ClientLastName" class="form-control" value="@Model.ClientLastName" />
                    <span asp-validation-for="ClientLastName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4 mb-3">
                    <label asp-for="ClientUserEmail"></label>
                    <input asp-for="ClientUserEmail" readonly class="form-control" value="@Model.ClientUserEmail" />
                    <span asp-validation-for="ClientUserEmail" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <h3>Destionation Info</h3>
            <div class="form-row">
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="PickUpLocationName">Pick up location</label>
                    <input asp-for="PickUpLocationName" class="form-control" readonly value="@Model.PickUpLocationName" />
                    <span asp-validation-for="PickUpLocationName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="DropOffLocationName" class="control-label">Return location</label>
                    <input asp-for="DropOffLocationName" class="form-control" readonly value="@Model.DropOffLocationName" />
                    <span asp-validation-for="DropOffLocationName" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <h3>Dates Info</h3>
            <div class="form-row">
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="StartDate">Start Date</label>
                    <input asp-for="StartDate" class="form-control" readonly value="@Model.StartDate" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="ReturnDate" class="control-label">End Date</label>
                    <input asp-for="ReturnDate" class="form-control" readonly value="@Model.ReturnDate" />
                    <span asp-validation-for="ReturnDate" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <h3>Price Info</h3>
            <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" value="@Model.Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<center>
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <input class="btn btn-primary" type="submit" data-toggle="modal" data-target="#modalEdit" value="Edit" />
    </div>
</center>

<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you confirm these changes?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}